*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
}

header{
    min-height: 10vh;
    width: 100%;
    background: none;
    z-index: 100;
    padding: 0 20px 0 0;
    z-index: 1;
    background-color: #f2f2f2;
}

.logo{ 
    width: 10px;
    height: 10px;
    top: 0;
    padding-top: 0;
    height: 60px;
}

nav {
    padding: 2% 6%;
    font-size: medium;
    font-weight: 400;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}


.banner{
    flex: 1;
    text-align: right;
}

.banner ul li{
    list-style: none;
    display: inline-block;
    padding: 0 12px;
    position:relative;
}

.navlink::before{
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    content:"";
    transition: 0.3s;
}

.navlink:hover{
    color: darkgoldenrod;
}

.navlink {
    text-decoration: none;
    color: #333;
}

.navlink::after{
    content: "";
    height: 2px;
    width: 100%;
    background: rgb(0,);
}

.home-body{
    background-color:aliceblue;
}

.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
    height: auto;
}

.banner-text{
    position: absolute;
    top: 25%;
    color: #f2f2f2;
    padding-left: 120px;
    padding-top: 10%;
}

.banner-text h2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
}

.banner-text p{
    font-size: 35px;
    text-align: left;
    font-weight: bold;
}

#title{
    text-align: center;
    font-weight: 700;
    margin: 10px 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 900;
    font-size: 50px;
    color: #333;
}

.courses{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px ;
    line-height: 22px;
    color: #333;
    font-size: 20px;
    max-width: max-content;
    width: 1400px;
    height: 350px;
    gap: 50px;
}

.course-box:hover{
    cursor: pointer;
    box-shadow: 50px 50px 55px black;
}

.course-box{
    flex-basis: 31%;
    background: rgb(194, 202, 213);
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-box a{
    text-decoration: none;
    text-align: center;
    color: #213374;
}

.course-box p a{
    padding-left: 20px;
    color: #333;
} 

.course-box:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#course{
    padding-top: 20px;
}

.read {
    padding-top: 30px;
    padding-bottom: 0;
}

#newsletter{
    font-size: larger;
    padding: 0 30px;
}

.underline a{
    text-decoration: none;
}

footer{
    background-color: rgb(8, 54, 122);
    color: #f2f2f2;
    height: 30vh;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding-top: 30px;
}

.detail{
    display: flex;
    align-items: left;
    justify-content: left;
}

.input-box{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #A9A9A9;
    background-color: #A9A9A9;
}

.input-box input{
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 10px;
}

.input-box button{
    background: beige;
    padding: 20px, 20px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}

#contact{
    padding-top: 20px;
}
.contact-info{
    position: relative;
    padding: 0 0 0 40px;
    align-items: right;
    justify-content: right;
    display: flex;
    margin-right: 20px;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .banner ul li{
        display: block;
        padding: 30px;
    }
    .banner{
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

}

/*FOR THE ABOUT PAGE*/

.first-img{
    padding-left: 100px;
    padding-right: 80px;
}

.intro{
    justify-content: center;
    text-align: justify;
    text-indent: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: #333;
    padding-top: 2%;
}
.topic{
    font-size: 30px;
    text-align: center;
    font-weight:bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
hr{
    padding-bottom: 40px;
    padding-left:25%;
    padding-right: 25%;
}

.section{
    padding-left: 60px;
    font-size: 28px;
    color: #333;
    padding-bottom: 10px;
}

.section head{
    padding-bottom: 20px;
}

.section head h2{
    font-size: 45px;
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
}

.container2{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.col1{
    display: flex;
}

.col1 img{
    box-sizing: border-box;
    border-radius: 15px;
}

.col2{
    color: #333;
}

.abouts-content{
    padding-bottom: 5%;
}

#find{
    color: #333;
}

#find a{
    text-decoration: none;
    color: black;
}

.title1{
    font-size: 30px;
    text-align: center;
}

.content2{
    text-align: justify;
}

/*I'm trying to round the edges of the pictures*/

/*FOR THE FACULTY PAGE*/

.faculty content{
    width: 3000px;
    padding-left: 10%;
    padding-right: 10%;
}

.team{
    margin: 0 75px 0 0;
    overflow: auto;
    padding-bottom: 30px;
}

.container3{
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 70%;
}

#topic{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
    width: 100%;
    font-size: 36px;
    box-sizing: border-box;
    border: #333;
    font-style: underline;
}

#topic::after{
    content: "";
    background: bisque;
    height: 3px;
    width: 150px;
    margin: 10px auto;

}

.column{
    margin-top: 15px;
    width: 100%; 
}

.column h4{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #333;
}

.column h6{
    font-weight: bold;
    color: #333;
}

.responsive-img{
    position: relative;
    height: 400px;
    width: 300px;
    opacity: 1;
    padding-bottom: 10px;
}

.row3{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    gap: 200px;
    color: #f2f2f2;
    
}

.img-box ul{
    color: #333;
}

.intro h2,p{
    padding-left: 5%;
    padding-right: 5%;
}

.text{
    border: solid 1px black;
    border-radius: 5px;
    padding-top: 30px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

#commpsa{
    text-align: center;
    font-weight: bold;
}

.contacts{
    list-style-type: none;
}

/*FOR THE ACADEMICS PAGE*/
.academic-title{
    font-size: 45px;
    font-weight: bolder;
    font-style: italic;
    color: #213374;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
.academic-section{
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    gap: 150px;
}
.dropdown{
    box-sizing: border-box;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 150vh;
    text-align: center;
    padding-top: 30px;
}

.dropdown h2{
    padding-bottom: 20px;
}

.options ul{
    list-style: none;
}

.jobs{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.jobs a{
    text-decoration: none;
    color: #333;
}

/*CAREERS PAGE*/
.career{
    text-align: justify;
    line-height: 2em;
    font-size: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.career1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;
    color: black;
}

.career-list{
    padding-left: 150px;
}

#advice1{

    color: black;
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.advice{
    box-sizing: border-box;
    margin: 10%;
    box-sizing: border-box;
    border: 2px  #213374 solid;
    background-color: #fff;
}

.advice p{
    padding-bottom: 20px;
    text-align: justify;
}

.career a{
    color:#213374;
    text-decoration: none;
}

/*FOR ADMISSIONS PAGE*/
.banner1{
    position: relative;
}

.banner-text1{
    position: absolute;
    top: 0;
    color: rgb(0, 0, 170);
    padding-left: 200px;
    padding-top: 10%;
}

.banner-text1 h2{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
}

.prompt{
    margin: 5%;
    color: #333;
    font-size: 30px;
}

.requirements{
    display: flex;
    color: #333;
    gap: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.requirements h2{
    font-size: 45px;
    text-align: center;
    padding-top: 70px;
}

.admission{
    box-sizing: border-box;
    width: max-content;
    height: 200px;
    background-color: rgb(147, 146, 145);
    border-radius: 15px;
    font-size: medium;
    padding-top: 15px;
    margin-right: 0;
    justify-content: right;
    text-align: justify;
    margin-bottom: 30px;
}

.admission1{
    box-sizing: border-box;
    width: max-content;
    height: 300px;
    background-color: rgb(147, 146, 145);
    border-radius: 15px;
    font-size: medium;
    padding-top: 30px;
    margin-right: 0;
    justify-content: right;
    text-align: justify;
    margin-bottom: 30px;
}

.admission ul{
    list-style: none;
    padding-left: 60px;
    font-size: 20px;
}

/*FOR THE FACILITIES PAGE*/
.FACILITIES{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container4{
    background-color: rgb(148, 133, 109);
    height: max-content;
    padding-top: 2%;
    padding-bottom: 2%;
}

.row6{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.row6 img{
    box-sizing: border-box;
    border-radius: 15px;
}

.row7{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.row7 img{
    box-sizing: border-box;
    border-radius: 15px;
}

.row8{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.row8 img{
    box-sizing: border-box;
    border-radius: 15px;
}

/*FOR NEWS PAGE*/
.content1{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    color: #333;
    display: flex;
}

.content1 p{
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.content1 ul{
    padding-left: 10%;
    padding-right: 5%;
    font-size: large;
}

#big{
    font-size: 45px;
    text-align: center;
    padding: 30px 0;
}

.events1{
    box-sizing: content-box;
    background-color: #84828F;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    height: 40em;
}

.events1 h2{
    font-size: 45px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.events2{
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.picture{
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 35px;
}

.picture img{
    padding-bottom: 15px;
}

.picture h4{
    font-size: 18px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

#none{
    font-size: 25px;
    font-weight:bolder;
}

.career{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.accordion{
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    border-radius: 5px;
    border: #213374 2px solid;
    height: 120px;
    font-size: 25px;
    display:flow-root;
    font-weight: bold;
}

.accordions ul{
    list-style: none;
}

.accordions ul li{
    padding-top: 20px;
}

.accordions{
    margin-top: 5%;
    margin-bottom: 5%;
}

.accordions ul li aside summary{
    color: #333;
}

.questions{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.questions p{
    font-size: 40px;
    text-align: justify;
    text-transform: uppercase;
    text-align: center;
    color: #213374;
}

.research{
    margin-left: 10%;
    margin-right: 10%;
}

.research1{
    box-sizing: border-box;
    background-color: #84828F;
    color: #fff;
    text-align: right;
    padding-top: 30px;
    border-radius: 20px;
    height: 200px;
    font-size: 18px;
}

.research1 h3{
    font-size: 30px;
    padding-right: 70px;
    padding-bottom: 15px;
}

.research2{
    box-sizing: border-box;
    background-color: #84828F;
    color: #fff;
    text-align: left;
    height: 200px;
    padding-top: 30px;
    border-radius: 20px;
    font-size: 18px;
}

.research2 h3{
    font-size: 30px;
    padding-left: 70px;
    padding-bottom: 15px;
}

.career3{
    position: relative;
}

.career1{
    position: absolute;
    top: 35%;
    width: 300px;
}

.career3 img{
    width: 25em;
    height: 70vh;
}

.career1 h3{
    text-align: center;
    padding-left: 50px;
    color: #fff;
}

.career2 p{
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
}